@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Equação 2º Grau</h1>
    <!-- <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    <h4>Resolução das raízes de uma equação de 2º Grau</h4>
</div>

<div>
    Especial
</div>